<!DOCTYPE html>
<html>
<head>
	<title>Failed</title>
	<link rel="icon" href="/assets/Blather.png"/>
</head>
<h1>Couldn't Logg you in</h1>
<p>Your Entered Username: <%=data.username%></p>
<p><a href='login.html'>Click here to go back to login page</a></p>
</html>