<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel="icon" href="/assets/Blather.png"/>
</head>
<h1>Submitted Successfully</h1>
<p>Your Username: <%=data.username%></p>
<p>Your Email: <%=data.email%></p>
<p><a href='login.html'>Click here to go back to login page</a></p>
</html>